.App {
  width: calc(100vw - 17px);
  height: fit-content;
  text-align: center;

  background-color: skyblue;

  display: block;

  * {
    width: 100%;
  }

  .main-menu {
    height: 100vh;
    background-color: yellow;
  }

  .rotate-menu {
    background-color: blue;
    height: 40vw;
  }

  .grafity {
    background-color: red;
    height: 60vw;
  }
  
  .merch {
    background-color: yellow;
    height: 60vw;
  }
  
  .contact {
    background-color: black;
    height: 24vw;
    color: white;
  }
  
  .services {
    background-color: green;
    height: 70vh;
  }
  
  .social {
    background-color: white;
    height: 120px;
  }

  .footer {
    background-color: grey;
    height: 100px;
  }
}

