@import "./variables.scss";

.App {
  width: calc(100vw - 17px);
  height: calc(100vh + 2955px);
  text-align: center;
  background-color: white;
  display: block;
  overflow: hidden;

  * {
    width: 100%;
  }

  .not-instant-show {
    position: relative;
    bottom: 150px;
  }
  
  .social {
    background-color: white;
    height: 120px;
  }

  .footer {
    background-color: grey;
    height: 100px;
  }
}

