.burrito-footer-container {
  height: 105.5px;
  width: calc(100% - 80px);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
}

.burrito-footer {
  width: 1200px;
  height: 105.5px;
  
  .footer-info {
    height: 46.5px;
    display: inline-flex;
    justify-content: flex-end;

    * {
      width: fit-content;
    }

    img {
      height: 100px;
      width: 101px;

      position: absolute;
      bottom: 45px;
      right: 84%;
    }

    h2 {
      cursor: pointer;
      font-family: "Knockout 50 Welterweight", sans-serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 31.5px
    }

    .whatsap-info {
      margin-left: 122.6px ;
    }
  }
  
  .footer-cr {
    height: 19.5px;
    margin-top: 10;
    font-size: 13.7px;
    font-weight: 600;
    line-height: 19.5px;
     
    a{
      margin-left: 5px;
      color: #000;
    }
  }

  .menu-info {
    margin-left: 23.97361%;
  }

  .links-info {
    margin-left: 40px;
  }
}
