
/* ---- Fonts ---- */

@font-face {font-family: "Knockout";
  src: url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.eot"); /* IE9*/
  src: url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/fonts/Knockout-HTF70-FullWelterwt/@font-face/855b04ee8867034db6207f07a432661b.svg#Knockout-HTF70-FullWelterwt") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Knockout 50 Welterweight";
  src: url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.eot"); /* IE9*/
  src: url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/fonts/Knockout-50Welterweight/@font-face/868ba4f1d72d4f8304d882506bbaefbf.svg#Knockout-50Welterweight") format("svg"); /* iOS 4.1- */
}

/*@import url(//db.onlinewebfonts.com/c/6990e4af58a453b9562a1989cbb2931f?family=Knockout52);*/
@font-face {font-family: "Knockout52";
  src: url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.eot"); /* IE9*/
  src: url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/fonts/Knockout-HTF52-Cruiserweight/@font-face/6990e4af58a453b9562a1989cbb2931f.svg#Knockout-HTF52-Cruiserweight") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Athelas";
  src: url("../assets/fonts/@font-face/Athelas8da1eda87a62a1c45f8c770ff9ffd90f.eot"); /* IE9*/
  src: url("../assets/fonts/@font-face/Athelas8da1eda87a62a1c45f8c770ff9ffd90f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Athelas/@font-face/8da1eda87a62a1c45f8c770ff9ffd90f.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Athelas/@font-face/8da1eda87a62a1c45f8c770ff9ffd90f.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Athelas/@font-face/8da1eda87a62a1c45f8c770ff9ffd90f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/fonts/Athelas/@font-face/8da1eda87a62a1c45f8c770ff9ffd90f.svg#Athelas W01 Italic") format("svg"); /* iOS 4.1- */
}


/* Colors */
$app-yellow: #FFE800;
$app-dark-yellow: #FFC506;
$wa-color: #25d366;
$wa-hover: rgb(82, 121, 205);