@import url(//db.onlinewebfonts.com/c/855b04ee8867034db6207f07a432661b?family=Knockout);
@import url(//db.onlinewebfonts.com/c/868ba4f1d72d4f8304d882506bbaefbf?family=Knockout+50+Welterweight);
$app-yellow: #FFE800;
$wa-color: #25d366;
$wa-hover: rgb(82, 121, 205);
